<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

  <body>
  <!--/*@thymesVar id="owner" type="talbn1.spring.petclinic.model.Owner"*/-->
    <h2>Owners</h2>

    <table id="vets" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Name</th>
            <th style="width: 200px;">Address</th>
            <th>City</th>
            <th style="width: 120px">Telephone</th>
            <th>Pets</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}"></td>
            <td th:text="${owner.firstName}"></td>
            <td th:text="${owner.lastName}"></td>
        </tr>
        </tbody>
    </table>

  </body>
</html>
