<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>List of Vets</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="talbn1.spring.petclinic.model.Vet"*/-->
<h2 th:text="'List of Vets'">Owners List</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>

    <!--/*@thymesVar id="vets" type="talbn1.spring.petclinic.model.Vet"*/-->
    <tr th:each="vet : ${vets}">
        <td th:text="${
    </tr>
    </tbody>
</table>
</body>
</html>